<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block timed_redirect %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/stylesheet.css" type="text/css" />
<!-- <link rel="stylesheet" href="{{ MEDIA_URL }}/stylesheets/stylesheet.css" type="text/css" /> -->
</head>
<body>
	<!-- TOPBAR -->
	<section class="topbar">
		<ul>
			<li><a href="{% url users.views.profile_user %}">{{ username }}</a></li>
			<li>|</li>
			<li><a href="{% url users.views.logout_user %}">logout </a>
		</ul>
	</section>

	<!-- BANNER -->
	<section class="banner">
	</section>
	
	<!-- NAV -->
	<nav>
		<ul>
			<li><a href="{% url users.views.profile_user %}">User</a></li>  
			<li><a href="{% url leagues.views.index_leagues%}">Leagues</a></li>  
			<li><a href="#">Forum</a></li>  
		</ul>
	</nav>
	
	<!-- CONTENT -->
	<section class = "content">
		<section id="main_content">
			{% block content %}{% endblock %}
		</section>
		<aside>
			{% block aside %}{% endblock %}
		</aside>
	</section>
	
	<!-- FOOTER -->
	<footer>
	</footer>
</body>
</html>
