<!doctype html>
{% load humanize %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
<!-- HEADER -->
	<div id="header">
		<div id="header-inner">
			<a href="#"><img src="{{ STATIC_URL }}images/sfusmall.png" alt="SFU Courses Engine"></a> <p>Course Engine</p>
		</div>
	</div>
<!-- END HEADER -->

<!-- CONTENT -->
	<div id="wrapper">
		<div id="searchform-wrapper">
			<form action="/search/">
				<input type="text" id="query" name="q" placeholder="Search...">
				<input type="submit" id="search" value="">
			</form>
		</div>
		
		<table class="course-info">
			<tr>
				<td class="info-type">Course Number:</td>
				<td>{{course.code}}</td>
			</tr>
			<tr>
				<td class="info-type">Course Name:</td>
				<td>{{course.name}}</td>
			</tr>
			<tr class="highlight">
				<td class="info-type">Course Engine Recommends:</td>
				<td>{{best_prof.first_name}} {{best_prof.last_name}}</td>
			</tr>
		</table>

		<div class="instructor-info">
			<div class="instructor-name"><span>Instructor: </span>{{best_prof.first_name}} {{best_prof.last_name}}</div>
			<div>
				<div class="profile-pic"><img src="{{STATIC_URL}}pics/{{pic}}" alt="{{professor.first_name}} {{professor.last_name}}"></div>
				<div class="score">
					<div>
						<div class="overall-heading">OVERALL SCORE</div>
						<div class="overall-score">{{overall|floatformat:1|intcomma}} / 5.0</div>
					</div>

					<div class="subscores">
						<div class="clarity subscore">
							<div class="subscore-heading">CLARITY</div>
							<div class="subscore-value">{{clarity|floatformat:1|intcomma}}</div>
						</div>
						<div class="helpfulness subscore">
							<div class="subscore-heading">HELPFULNESS</div>
							<div class="subscore-value">{{helpfulness|floatformat:1|intcomma}}</div>
						</div>
						<div class="easiness subscore">
							<div class="subscore-heading">EASINESS</div>
							<div class="subscore-value">{{easiness|floatformat:1|intcomma}}</div>
						</div>
					</div>

					<div class="comments">
						<div class="comments-count"><img src="{{ STATIC_URL }}images/comments.png" alt="Comments"><a href="#">Comments from fellow students</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END CONTENT -->

	<div id="footer">
		<div id="footer-inner">
			<div class="footer-heading">Other's who've taught this course</div>
			{% for comment in comments %}
			<div class="other">
				<div class="other-name"><a href="#"><span>{{comment.comments}}</span> </a></div>
			<!-- </br>
				<div class="other-name"><a href="#"><span>{{comment.easiness}}</span> </a></div>
			</br>
				<div class="other-name"><a href="#"><span>{{comment.clarity}}</span> </a></div>
			</br>
				<div class="other-name"><a href="#"><span>{{comment.helpfulness}}</span> </a></div> -->
			</div>
			{% endfor %}

		</div>
	</div>
</body>
</html>