{% load static from staticfiles%}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
</head>
<body>
  <div id="wrapper">
    <div id="container">
      <div id="glass"></div>
      <img src="{{ STATIC_URL }}images/logo.png" alt="SFU Computing Science Course Engine" id="logo">
      <div id="searchform_wrap">
        <form action="" id="searchform">
          <input type="text" id="query" placeholder='eg: "CMPT 300" or "Operating Systems"'>
          <input type="submit" id="search" value=""><br>
          <div id="radio"><input type="radio" name="searchradio" id="searchradio" checked="checked"><label for="searchradio">Show me professors who teach this course</label></div>
        </form>
      </div>
    </div>
  </div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/min/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/min/home.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/min/underscore.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/min/backbone.min.js"></script>
</body>
</html>
