<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
<!-- HEADER -->
	<div id="header">
		<div id="header-inner">
			<a href="#"><img src="{{ STATIC_URL }}images/sfusmall.png" alt="SFU Courses Engine"></a> <p>Course Engine</p>
		</div>
	</div>
<!-- END HEADER -->

<!-- CONTENT -->
	<div id="wrapper">
		<div id="searchform-wrapper">
			<form action="/search/">
				<input type="text" id="query" name="q" placeholder="Search...">
				<input type="submit" id="search" value="">
			</form>
		</div>
		
<!-- 		<table class="course-info">
			<tr>
				<td class="info-type">Course Number:</td>
				<td>456</td>
			</tr>
			<tr>
				<td class="info-type">Course Name:</td>
				<td>Information Retrieval and Web Search</td>
			</tr>
			<tr class="highlight">
				<td class="info-type">Next Offering</td>
				<td>Summer 2013, Burnaby Campus</td>
			</tr>
		</table> -->

		<div class="instructor-info">
			<div class="instructor-name"><span>Instructor: </span>{{professor.first_name}} {{professor.last_name}}</div>
			<div>
				<div class="profile-pic"><img src="{{STATIC_URL}}pics/{{pic}}" alt="{{professor.first_name}} {{professor.last_name}}"></div>
				<div class="score">
					<div>
						<div class="overall-heading">OVERALL SCORE</div>
						<div class="overall-score">{{overall|floatformat:1}} / 5.0</div>
					</div>

					<div class="subscores">
						<div class="clarity subscore">
							<div class="subscore-heading">CLARITY</div>
							<div class="subscore-value">{{professor.clarity|floatformat:1}}</div>
						</div>
						<div class="helpfulness subscore">
							<div class="subscore-heading">HELPFULNESS</div>
							<div class="subscore-value">{{professor.helpfulness|floatformat:1}}</div>
						</div>
						<div class="easiness subscore">
							<div class="subscore-heading">EASINESS</div>
							<div class="subscore-value">{{professor.easiness|floatformat:1}}</div>
						</div>
					</div>

					<div class="comments">
						<div class="comments-count"><img src="{{ STATIC_URL }}images/comments.png" alt="Comments">&nbsp;{{comments.count}} comment{{comments.count|pluralize}} from fellow students below</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END CONTENT -->

	<div id="footer">
		<div id="footer-inner">
			{% if comments %}
			<div class="footer-heading">Reviews from fellow peers
				<div class="comment-legend">
					<span class="clarity">Clarity</span> <span class="helpfulness">Helpfulness</span> <span class="easiness">Easiness</span>
				</div>
			</div>
			{% for comment in comments %}

			<div class="comment-wrapper">
				<div class="comment-course">Course: <span>{{comment.course}}</span>&nbsp;
					<span class="comment-score clarity">{{comment.clarity|floatformat:1}}</span>
					<span class="comment-score helpfulness">{{comment.helpfulness|floatformat:1}}</span>
					<span class="comment-score easiness">{{comment.easiness|floatformat:1}}</span>
				</div>
				<p class="comment">{{comment.comments}}</p>
			</div>

			{% endfor %}
			{% else %}
			<div class="footer-heading">Currently No Reviews</div>
			{% endif %}
		</div>
	</div>
</body>
</html>